# Xcode
##
*.xcodeproj/xcuserdata/
*.xcscmblueprint
*.xcworkspace/xcuserdata/

# Swift Package Manager
##
.build/
Packages/

# User-specific
##
*.moved-aside
.DS_Store
.AppleDouble
.LSOverride
Icon
.DS_Store?

# Build artifacts
##
dist/*
build/
DerivedData/

# Other common ignore patterns
##
*.log
*.swp
*.bak
*~
*.tmp
*.o
*.pyc
*.pyo
*.lock
*.DS_Store
*.Trash
*.xcworkspace/xcuserdata/*/UserInterfaceState.xcuserstate
